output_files
incremental_db
db
*.do.bak*
*.sdo
*.vo
*.dat
*.bak*
p1_run_msim_rtl_verilog.do.bak
p1_run_msim_rtl_verilog.do.bak1
p1_run_msim_rtl_verilog.do.bak2
p1_run_msim_rtl_verilog.do.bak3
p1_run_msim_rtl_verilog.do.bak4
p1_run_msim_rtl_verilog.do.bak5
p1_run_msim_rtl_verilog.do.bak6
p1_run_msim_rtl_verilog.do.bak7
p1_run_msim_rtl_verilog.do.bak8
p1_run_msim_rtl_verilog.do.bak9
p1_run_msim_rtl_verilog.do.bak10
p1_run_msim_rtl_verilog.do.bak11
p1_v.sdo
msim_transcript
p1.sft
p1.vo
p1.vt
p1_3_900mv_0c_slow.vo
p1_3_900mv_0c_v_slow.sdo
p1_3_900mv_85c_slow.vo
p1_3_900mv_85c_v_slow.sdo
p1_min_900mv_0c_fast.vo
p1_min_900mv_0c_v_fast.sdo
p1_run_msim_gate_verilog.do
p1_run_msim_rtl_verilog.do
rtl_work
/simulation/modelsim/*.xrf
/simulation/modelsim/*.wlf
/simulation/modelsim/vsim.wlf
